<!DOCTYPE html>
<html>
  <body>
    <p>Please wait</p>

    <script>
      if (window.opener) {
        window.opener.postMessage('SIGNIN_SUCCEEDED', '<%= origin %>');
        window.close();
      }
    </script>
  </body>
</html>
